DATABASE_URL=postgresql://postgres.szdjmmqnyhafxwmiiwie:Asqw12345saff@aws-1-eu-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true

SESSION_SECRET=arkan-secret-key-2024
NODE_ENV=development
PORT=8080

ALLOWED_ORIGINS=

EMAIL_USER=support.arkan.web@gmail.com
EMAIL_PASS=wcuqsdipnibkdjxf

SUPABASE_URL=https://YOUR_PROJECT_REF.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY
SUPABASE_STORAGE_BUCKET=receipts
