# انسخ هذا الملف واسمه .env وعدّل القيم
DATABASE_URL=postgresql://postgres.szdjmmqnyhafxwmiiwie:كلمة_المرور_هنا@aws-1-eu-west-2.pooler.supabase.com:5432/postgres
SESSION_SECRET=arkan-secret-key-2024
NODE_ENV=development
